.Table{
    margin-top: 2%;
    width: 90vw;
    height: 80vh;
}
.HeaderTable {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 90vw;
    height: 5vh;
    border-bottom: none;
    font-size: 16px;
    font-weight: 600;
    background-color: lavender;
}
.HeaderTable div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    height: 5vh !important;
}
.ContentTable{
    height: 75vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 90vw;
    overflow: hidden;
    background-color: white;
}
.Content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
@media (max-width: 1200px) {

    .HeaderTable{
        font-size: 0.8em;

    }
    .ContentTable{
        font-size: 0.5em;
        overflow-y: scroll;
        overflow-x: scroll;
    }
}