.MainContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    width: 90vw;
    height: 90vh;
}
.Photo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 5px solid #3f51b5;
    border-radius: 50%;
    width: 30vh;
    height: 30vh;
}
.Photo img{
    border-radius: 50%;
    width: 100%;
    height: 100%;
}
.profileInfo{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width:50vw;
}
.Info{
    display: flex;
    flex-direction: column;
}
.InfoItem{
    font-family: "Chilanka", cursive;
    font-size: 2em;
    text-align: center;
    height: 5vh;
}
.table{
    text-align: center;
    width:60vw;
    height: 50vh;
}
.title{
    font-family: "Chilanka", cursive;
}
@media (max-width: 1200px){
    .MainContainer{
        display: flex;
        flex-direction: column;
        overflow: hidden;
        width: 100vw;
    }
    .profileInfo{
        width: 95vw;
    }
    .Photo{
        align-items: center;
        width: 25vh;
        height: 25vh;
    }
    .Photo img{
        width: 25vh;
        height: 25vh;
    }
    .InfoItem{
        font-family: "Chilanka", cursive;
        font-size: 1.2em;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 7vh;
    }
    .Info{
        height: 25vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .table{
        text-align: center;
        width:95vw;
        height: 50vh;
    }
    .title{
        font-size: 0.8em;
    }
}
@media (max-width: 992px){
}
@media (max-width: 760px){

}